# Target class for this configuration
_target_: verl.workers.config.VeomniEngineConfig

# fsdp or fsdp2
data_parallel_mode: fsdp2

data_parallel_size: 1

data_parallel_replicate_size: 1

data_parallel_shard_size: 1

tensor_parallel_size: 1

expert_parallel_size: 1

pipeline_parallel_size: 1

context_parallel_size: 1

ulysses_parallel_size: 1

enable_mixed_precision: True

init_device: meta

enable_full_shard: True

enable_gradient_checkpointing: True

enable_fsdp_offload: false

enable_reentrant: True

enable_forward_prefetch: True

ckpt_manager: dcp

enable_activation_offload: True

activation_gpu_limit: 0.0

# Only for FSDP1: FSDP1 configuration, prefetch the next forward-pass all-gather
# before the current forward computation.
forward_prefetch: False


strategy: veomni

# Whether to use entropy_from_logits_with_chunking in fsdp.
entropy_from_logits_with_chunking: false

# Whether to use torch compile in fsdp.
use_torch_compile: true

# Whether to use entropy checkpointing in fsdp.
entropy_checkpointing: false

# Whether to use forward only in fsdp.
forward_only: false
